img {
  display: inline;
  float: left;
  width: 100px;
}

body {
  background-color: black;
  color: white;
  font-family: Open Sans;
  margin: 10px 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}

nav > span {
  float: left;
  width: 25%;
}

.browser-link > img {
  float: left;
  width: 300px;
}